<% provide(:title, "Welcome") %>
<h1>Home</h1>
<p>Welcome to the home page</p>
<p><%= get_seasons() %></p>
<p><%= get_random_number(1000) %></p>
<p><%= get_random_welcome() %></p>
<p><%= count_to_10() %></p>
